*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-color: #ECF0F3;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countainer{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 20px 0px rgb(124, 112, 112);
}

.display{
  background-color: #ECF0F3;
  position: relative;
  padding: 10px;
  border: none;
  width: 100%;
  height: 150px;
  border-radius: 10px;
  text-align: right;
  padding: 20px;
  font-size: 30px;
}

.display-1{
  opacity: .4;
  font-size: 20px;
  height: 20px;
  overflow: hidden;
}

.temp-result{
  position: absolute;
  bottom: 0;
  left: 10;
  font-size: 20px;
  opacity: .4;
}

.all_buttons{
  display: grid;
  grid-template-columns: repeat(4, 65px);
  grid-template-rows: repeat(6, 65px);
  grid-gap: 5px;
  padding: 10px 20px;
  outline: none;
}

.all_buttons button{
  cursor: pointer;
  font-size: 25px;
  background-color: #ECF0F3;
  text-shadow:
  0 0 0.125em white,
  0 0 0.125em #000000;
  border: none;
  border-radius: 50px;
}

.all_buttons button:hover{
  background-color: #ECF0F3;
  color: white;
  text-shadow:
   0 0 0.125em black,
   0 0 0.125em white;
}

.button.btn1{
  font-size: 33px;
}

.button.C{
  background-color: #968c8c;
  color: rgb(255, 255, 255);
}

.zero{
  grid-column: 1/3;
}

.button.C:hover{
  background-color: #968c8c;
  color: rgb(12, 6, 6);

}
